$breadcrumb-divider: quote(">");

$sizes: (
    'd': (100%/7),
    9: 9%,
    10: 10%,
    13: 13%,
    14: 14%,
    15: 15%,
    16: 16%,
    17: 17%,
    18: 18%,
    20: 20%,
    30: 30%,
    40: 40%,
    50: 50%,
    60: 60%,
    70: 70%,
    80: 80%,
    90: 90%
);

@import "~bootswatch/dist/yeti/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/yeti/bootswatch";

@import "~select2/src/scss/core";
@import "~select2-theme-bootstrap4/src/select2-bootstrap";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";

/* Personalizaciones del tema */
.btn {
    border-radius: 5px;
}

.btn:hover {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.63);
}

.form-control {
    border-radius: 2px;
}

.card-deck .card {
    border-radius: 3px;
}

.breadcrumb {
    text-transform: none;
}

.navbar-brand {
    font-weight: bold;
}

/* Layout */
html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 12px;
    min-height: 45px;
    background-color: #f5f5f5;
    text-align: center;
}

.footer p {
    margin: 0;
}

/* Formulario de entrada */
.app-name {
    font-size: 200%;
    font-weight: bold;
    letter-spacing: -4px;
    margin-bottom: 20px;
}

.app-version {
    font-size: 120%;
    font-weight: bold;
    letter-spacing: -6px;
    transform: scale(0.8, 1.0);
    color: #244500;
    color: rgba(20, 40, 0, 0.5);
}

.login-form {
    margin: 50px auto 0 auto;
    max-width: 500px;
    font-size: 16px;
}

@media (min-width: 992px) {
    .login-form {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.login-form .panel {
    border: none;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.63);
    border-radius: 10px;
}

.login-form .panel .panel-footer {
    border-radius: 10px;
}

.login-form .panel .panel-body {
    border-radius: 10px;
    background: #f2f2f2;
    padding: 20px 26px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.extra-action {
    margin-top: 0.8em;
    font-size: 70%;
    text-align: right;
}

section.login-form input {
    font-size: 19px;
}

section.login-form button {
    font-size: 18px;
}

/* Baldosas para los menús */
.card-menu {
    text-decoration: none;
}

.card-menu:hover, .card-menu:active {
    background-color: #eee;
    box-shadow: 1px 1px 5px #888888 inset;
}

.card-menu a:hover, .card-menu a:active, .card-menu a:focus {
    text-decoration: none;
}

/*
 * Utilities
 */

/* Más ajustes de formularios */
label.required:after {
    content: "*";
    color: red;
}

/* Botones adaptativos */
@media (max-width: map-get($grid-breakpoints, "sm")) {
    .btn-sm-block {
        width: 100%;
        margin-bottom: 0.1em;
    }
}

/* Barra de búsqueda */
input[type="search"] {
    font-family: "Font Awesome 5 Free", $font-family-sans-serif;
}

table#list th, table#list td {
    vertical-align: middle;
}

table#list label {
    display: inline;
}

/* Listados dinámicos */
.clickable-row {
    cursor: pointer;
}

span#search-clear {
    position: absolute;
    vertical-align: middle;
    right: 22px;
    top: 0;
    bottom: 0;
    height: 18px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
    width: 1em;
}

.loading {
    background-color: white;
    opacity: 0.2;
    transition: opacity 0.1s linear;
    pointer-events: none;
}

.highlight {
    background-color: yellow;
}

.highlight-tag {
    background-color: #a5a500;
}

div#filter {
    padding-bottom: 0.8em;
}

/* Separador de meses en el calendario */
th.calendar-month {
    text-align: center;
    font-size: 150%;
    font-variant: small-caps;
    text-transform: uppercase;
    background-color: $breadcrumb-bg;
    color: $navbar-light-color;
}

table.calendar th {
    text-align: center;
}

table.calendar td {
    height: 6em;
    width: 100%;
}

$light-danger: lighten($danger, 20%);
$light-success: lighten($success, 20%);
$light-warning: lighten($warning, 20%);

table.calendar {
    td.workday {
        background: $info;
    }

    td.submitted {
        background: $success;

        a {
            color: $light;
        }
    }

    td.submitted-ok {
        background: $success;

        a {
            color: $light;
        }
    }

    td.submitted-warning {
        background: $warning;

        a {
            color: $light;
        }
    }

    td.absence {
        background: repeating-linear-gradient(
                -45deg,
                $light-danger,
                $light-danger 2px,
                $table-dark-color 3px,
                $table-dark-color 8px
        )
    }

    td.justified-absence {
        background: repeating-linear-gradient(
                -45deg,
                $light-warning,
                $light-warning 2px,
                $table-dark-color 3px,
                $table-dark-color 8px
        )
    }

    a {
        color: $dark;
    }
}

h5.checkbox-category {
    margin-top: 0.3em;
    margin-bottom: 0.1em;
}

div.progress.progress-stat {
    margin-bottom: 1em;
}

.collapse-zone {
    cursor: pointer;
}

.bg-light-success {
    background-color: $light-success !important;
}

div.subject-header {
    background-color: $table-dark-bg;
    color: $table-dark-color;

    h3 {
        margin-bottom: 0;
    }
}

table.agreement-grading .form-group {
    margin-bottom: 0;
}

table.agreement-grading td {
    vertical-align: middle;
}

.survey-text {
    font-size: 120%;
}

table.survey {
    td {
        padding: 0.5em;
        vertical-align: middle;
        font-size: 120%;

        fieldset {
            margin: 0;
        }

        margin: 0;
    }

    td.question {
        text-align: right;
    }

    td.question.required p:last-of-type:after {
        content: "*";
        color: red;
    }

    p:last-of-type {
        margin-bottom: 0;
    }

    label.required:after {
        content: "";
    }
}

table.calendar .operations {
    text-align: center;
    background-color: $breadcrumb-bg;
}

.navbar-expand-lg .navbar-nav.side-nav {
    flex-direction: column;
}

.card {
    margin-bottom: 15px;
    border-radius: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
}

.header-top {
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1)
}

.leftmenutrigger, .navbar-nav li a .shortmenu {
    display: none
}

@media(min-width: 992px) {
    #wrapper {
        padding: 80px 15px 15px 75px;
    }
    .navbar-nav.side-nav:hover {
        left: 0;
    }
    .side-nav li a {
        padding: 20px
    }
    .navbar-nav li a .shortmenu {
        float: right;
        display: block;
        opacity: 1
    }
    .navbar-nav.side-nav:hover li a .shortmenu {
        opacity: 0
    }
    .navbar-nav.side-nav {
        background: #585f66;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.63);
        position: fixed;
        top: 55px;
        flex-direction: column !important;
        left: -190px;
        width: 250px;
        overflow-y: auto;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px
    }
}

.animate {
    transition: all .2s ease-in-out
}

.navbar-nav li a svg {
    font-size: 25px;
    float: left;
    margin: 0 10px 0 5px;
}

.side-nav li {
    border-bottom: 1px solid #50575d;
}

.nav-icon {
    @extend .fa-fw;
    font-size: 125%;
    margin-right: 13px;
}

.navbar-nav {
    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
        background-color: darken($primary, 10);
    }
}
