{% trans_default_domain 'layout' %}

{% macro flash_message(type, class) %}
    {% for flashMessage in app.session.flashbag.get(type) %}
        <div class="alert alert-{{ class }} alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'hint.close'|trans }}"><span aria-hidden="true">&times;</span></button>
            {{ flashMessage }}
        </div>
    {% endfor %}
{% endmacro %}
