{% trans_default_domain 'person' %}
    <div class="modal fade" id="new_person" role="dialog" aria-labelledby="new-person-label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="new-person-label">{{ 'title.new'|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    {{ render(controller('App\\Controller\\API\\PersonAPIController::apiNewPersonAction')) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'form.new_person.close'|trans }}</button>
                    <button type="button" class="btn btn-success" id="create_person">{{ 'form.new_person.save'|trans }}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
